
@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

tabpanels, tabpanel, textbox
{
    -moz-appearance: none !important;
    font-family: monospace !important;
    padding: 0 !important;
}

treechildren::-moz-tree-row(selected) { background-color: #FFFFAA; }
treechildren::-moz-tree-row(odd) { background-color: #EEEEEE; }
treechildren::-moz-tree-row(odd, selected) { background-color: #FFFFAA; }
treechildren::-moz-tree-cell-text(selected) { color: #000000; }
treechildren::-moz-tree-cell-text(odd, selected) { color: #000000; }

editor
{
	border: thin solid #000000;;
}

#status_label {
    color: #0000Ff;
}

toolbarbutton.icon {
  padding-left: 4px;
  padding-right: 4px;
}

toolbarbutton.icon:not([disabled="true"]) {
/*  list-style-image: url("icons.png");*/
   font-style: bold;
}

toolbarbutton.icon[disabled="true"] {
/*  list-style-image: url("icons_disabled.png");*/
	font-style: bold;
}

#record-button:not([checked="true"]) {
  list-style-image: url("record.png");
/*  -moz-image-region: rect(0px 48px 16px 32px);*/
}
#record-button[checked="true"] {
  list-style-image: url("recording.png");
/*  -moz-image-region: rect(16px 48px 32px 32px);*/
}

.editor_bottom {
  margin: 2px;
  background: #e3e9ef;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
}

.code {
  color: blue;
  font-family: "Courier New", Courier, monospace;
}